@import "settings/all";


.container {
  max-width: 200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    max-width: 1352px;
  }
}

.line {
  content: "";
  width: 4em;
  height: 0.5em;
  background-color: $line-color;
  margin: 1em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boldertext {
  font-weight: bolder;
}

.home_page_banner {
  width: auto;
  height: auto;
  text-align: center;
  font-family: $font;
  background-color: $main-background-color;
  color: $main-font-color;

  h1 {
    font-size: 48px;
    padding-top: 2em;
  }
  h2 {
    font-size: 36px;
  }
  p {
    padding: 2em;
    font-size: 24px;
  }
}

main {
  .content {
    font-family: $font;
    text-align: center;
    h1 {
      font-size: 36px;
      color: $content-font-color;
      margin-bottom: 1em;
    }
    p {
      font-size: 12px;
      margin-bottom: 0.5em;
    }
    h2 {
      font-weight: bolder;
      margin-bottom: 1em;
    }
    ul {
      font-size: 12px;
      margin-bottom: 1em;
      li {
        margin-bottom: 1em;
        list-style: inside;
      }
    }
  }
}

.contact {
  color: $contact-text-color;
  font-family: $font;
  @include desktop {
    flex-direction: row;
    max-width: 70%;
    align-items: start;
  }
  .mail_contact {
    background-color: $mail-contact-background-color;
    padding: 2em;
    form {
      h1 {
        font-size: 24px;
        font-weight: bolder;
      }
      p {
        font-size: 12px;
        margin-top: 1em;
        margin-bottom: 1em;
      }
      .email_inputs {
        display: flex;
        flex-direction: column;
        @include desktop {
          flex-direction: row;
        }
        .email {
          border: none;
          padding: 1em;
          @include desktop {
            width: 70%;

          }
        }
        .btn1 {
          width: 60%;
          font-size: 18px;
          color: $btn1-text-color;
          background-color: $btn1-background-color;
          border: none;
          font-weight: bolder;
          padding: 0.5em;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          @include desktop {
            width: 20%;
            padding: 0.5em;
            margin: 0;
          }
        }
      }
    }
  }
  .contact_us {
    background-color: $contactus-background-color;
    padding: 2em;
    @include desktop {
      width: 80%;
    }
    h2 {
      font-size: 24px;
      font-weight: bolder;
    }
    p {
      font-size: 12px;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .btn2 {
      border: none;
      background-color: $btn2-background-color;
      color: $btn2-text-color;
      padding: 0.5em;
      width: 80%;
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 0.5em;
      text-align: center;
    }
  }
}

footer {
  background-color: $footer-background-color;
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
    @include desktop{
      flex-direction: row;
      justify-content: space-around;
      height: 30vh;
    }
    .leftside {
      font-family: $font;
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 33%;
      h2 {
        color: $h2-leftside-text-color;
        font-size: 24px;
        padding: 1rem 1rem 1rem 0;
        text-align: left;
        font-weight: bolder;
      }
      p {
        font-size: 12px;
        padding-left: 1em;
        padding-bottom: 1em;
        text-align: left;
      }
    }
    .rightside{
      font-family: $font;
      width:33% ;
      @include desktop{
        padding: 1em;
      }
      h2{
        color:$h2-rightside-text-color;
        font-size: 24px;
        padding: 0 1rem 1rem 0;
        text-align: left;
        font-weight: bolder;
      }
      p{
        padding-left: 1em;
        font-size: 12px;
      }
      p:nth-last-of-type(3){
        font-weight: bolder;
      }
      p:last-of-type{
        padding-bottom: 1em;
        color: $p-lastoftype-rightside-text-color;
        font-weight: bolder;
      }
    }

  }
  .line{
    width: 120%;
    height: 0.2em;
    margin: 0;
    @include desktop{
      width: 80%;
    }
  }
  .copy{
    font-family: $font;
    width: auto;
    height: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    p{
      font-size: 12px;
    }
    a{
      color: $a-copy-text-color;
    }
  }
}
