$font:Arial , sans-serif;


$line-color :green;




$main-font-color:#ffffff;
$main-background-color:rgba(11,133,61,0.8);



$content-font-color:green;

$contact-text-color:#FFFFFF;
$mail-contact-background-color:rgba(11,133,61,0.8);
$btn1-text-color:#FFFFFF;
$btn1-background-color:green;



$contactus-background-color:green;
$btn2-background-color:#000000;
$btn2-text-color:#FFFFFF;


$footer-background-color:rgba(28,28,29,0.87);

$h2-leftside-text-color:green;


$h2-rightside-text-color:#ffffff;
$p-lastoftype-rightside-text-color:green;

$line-copy-background-color:green;
$a-copy-text-color:green;
